@page "/"


@*<AuthorizeView>
    <Authorized>
        <h1>Welcome @context.User.FindFirst("FirstName").Value</h1>
    </Authorized>
    <NotAuthorized>
        <h1>Sorry you have to log in.</h1>
    </NotAuthorized>
</AuthorizeView>*@


<h1>Hello, world!</h1>

Welcome to your new app.
