@page "/auth/login"
@layout AuthLayout
@using PlannerApp.Shared.Models
@using PlannerApp.Client.Models
@inject AuthenticationService authService
@inject NavigationManager navigationManager
@inject ILocalStorageService storage

<div class="row">
    <div class="col-12">
        <h2>Log In to your Account</h2>
        <EditForm Model="model" OnValidSubmit="LogInUser">
            <RadzenCard>
                <AlertMessage Message="@message" MessageType="@messageType" />

                <DataAnnotationsValidator />
                <ValidationSummary />
                <label>Email</label>
                <RadzenTextBox @bind-Value="model.Email"></RadzenTextBox>

                <label>Password</label>
                <RadzenPassword @bind-Value="model.Password"></RadzenPassword>
                <hr />
                <RadzenButton ButtonType="Radzen.ButtonType.Submit"
                              Text="Login"
                              ButtonStyle="Radzen.ButtonStyle.Primary"
                              class="btn-block mr-2"
                              Disabled="isBusy">

                </RadzenButton>
                <RadzenButton Click="GoToRegister" ButtonType="Radzen.ButtonType.Button"
                              Text="Register"
                              ButtonStyle="Radzen.ButtonStyle.Success"
                              class="btn-block mr-2"
                              Disabled="isBusy">

                </RadzenButton>
            </RadzenCard>
        </EditForm>
    </div>
</div>

@code{

    LoginRequest model = new LoginRequest();

    bool isBusy = false;
    string message = string.Empty;

    Models.AlertMessageType messageType = Models.AlertMessageType.Success;

    Dictionary<string, string> userInfo = new Dictionary<string, string>();

    public async Task LogInUser()
    {
        isBusy = true;
        var result = await authService.LogInUserAsync(model);

        if (result.IsSuccess)
        {
            message = "Welcome to PlannerApp.";
            messageType = Models.AlertMessageType.Success;

            var userInfo = new LocalUserInfo() { 
                AccessToken = result.Message,
                Email = result.UserInfo["Email"],
                FirstName = result.UserInfo["FirstName"],
                LastName = result.UserInfo["LastName"],
                Id = result.UserInfo[System.Security.Claims.ClaimTypes.NameIdentifier],
            };
            await storage.SetItemAsync<LocalUserInfo>("User", userInfo);

        }
        else
        {
            message = result.Message;
            messageType = Models.AlertMessageType.Error;
        }
        isBusy = false;
    }
    public void GoToRegister()
    {
        navigationManager.NavigateTo("/auth/register");
    }

}